<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blckmnstudio.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.blckmnstudio.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TownClap"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.blckmnstudio.app.activity.ExportActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.HearExportListActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.HearCategotyActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.HearActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.blckmnstudio.app.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.ResedulActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.BookingActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.ReferlActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.WalletActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.TimeSlotActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.CartActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.BasicActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.AddOnsActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.ItemListActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.SubCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.blckmnstudio.app.activity.SubCategoyTypeActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.ServiceAllActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.DynamicAllActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.SearchLocationActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.blckmnstudio.app.activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.blckmnstudio.app.activity.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.blckmnstudio.app.activity.VerifyPhoneActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.blckmnstudio.app.activity.FlutterwaveActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.SenangpayActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.PaystackActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.PaytmActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.RazerpayActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.StripPaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.PaypalActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.PrivecyPolicyActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.AboutsActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.TramsAndConditionActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.ContectusActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.ForgotActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.ChanegPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.blckmnstudio.app.activity.IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.blckmnstudio.app.locationpick.LocationGetActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name="com.blckmnstudio.app.activity.FirstActivity"
            android:exported="true"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
    </application>

</manifest>